<template>
    <div class="container">
        <Header></Header>
        <modal v-if="showModal" @close="showModal = false">
            <h3 slot="header">Invoice Items</h3>
            <div class="row" slot="body">
                <div class="panel w-100">
                    <div class="panel-heading pt-2 pb-2 pl-2 pr-2">
                        <h2>Items</h2>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Tax</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(item,index) in selectedItem" :key="index">
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.monto }}</td>
                                    <td>{{ item.iva }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row" slot="footer"></div>
            <div slot="btnName">Cerrar</div>
        </modal>
        <div class="panel mt-5">
            <div class="panel-heading bg-primary pt-4 pb-2 pl-2 pr-2">
                <h2>Invoices</h2>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Tipo</th>
                            <th>Folio</th>
                            <th>Emisor</th>
                            <th>Receptor</th>
                            <th>Show Items</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(invoice, index) in invoices" :key="index">
                            <td>{{ invoice.emision | setDateFormat }}</td>
                            <td>{{ invoice.tipo }}</td>
                            <td>{{ invoice.folio }}</td>
                            <td>{{ invoice.emisor.razonSocial }}</td>
                            <td>{{ invoice.receptor.razonSocial }}</td>
                            <td class="text-center">
                                <i class="fa fa-print" v-on:click="showItems(invoice.items)"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
<script>
    import Header from '@/components/header/Header'
    import Modal from '@/components/Modal'
    import axios from 'axios'
    import moment from 'moment'
    export default {
        data(){
            return {
                invoices: [],
                showModal: false,
                selectedItem: []
            }
        },
        created(){
            this.getInvoices()
        },
        methods: {
            getInvoices: function(){
                let toReturn = []
                axios.get('/api/invoices').then(response=>{
                    this.invoices = response.data.invoices
                })
            },
            showItems: function(items){
                this.selectedItem = items
                console.log(items)
                this.showModal = true
            }
        },
        filters: {
            setDateFormat: (date)=>{
                let newDate = moment.unix(date).format("DD-MM-YYYY HH:mm:ss")
                return newDate
            }
        },
        components: {
            Header,
            Modal
        }
    }
</script>
